<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}stylesheets/stylesheet.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}stylesheets/pygment_trac.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}stylesheets/print.css" media="print"/>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ page.title }}</title>
</head>

<body>
<header>
    <div class="inner">
        <h1>The Core Protocols</h1>

        <h2>Team = Product</h2>
        <a href="https://github.com/algimantas/core-protocols/tree/gh-pages" class="button">
            <small>View project on</small>
            GitHub</a>
    </div>
</header>
<div id="content-wrapper">
    <div class="inner clearfix">
        <section id="main-content">
            {{ content }}
        </section>

        <aside id="sidebar">
            <ul>
                <li><a href="{{ site.baseurl }}en/the-core-commitments">The Core Commitments</a></li>
                <li><a href="{{ site.baseurl }}en/pass-unpass">Pass (Unpass)</a></li>
                <li><a href="{{ site.baseurl }}en/check-in">Check In</a></li>
                <li><a href="{{ site.baseurl }}en/check-out">Check Out</a></li>
                <li><a href="{{ site.baseurl }}en/ask-for-help">Ask For Help</a></li>
                <li><a href="{{ site.baseurl }}en/protocol-check">Protocol Check</a></li>
                <li><a href="{{ site.baseurl }}en/intention-check">Intention Check</a></li>
                <li><a href="{{ site.baseurl }}en/decider">Decider</a></li>
                <li><a href="{{ site.baseurl }}en/resolution">Resolution</a></li>
                <li><a href="{{ site.baseurl }}en/perfection-game">Perfection Game</a></li>
                <li><a href="{{ site.baseurl }}en/personal-alignment">Personal Alignment</a></li>
                <li><a href="{{ site.baseurl }}en/investigate">Investigate</a></li>
            </ul>
            <p class="repo-owner"><a href="https://github.com/algimantas/core-protocols">The Core Protocols</a> are created by <a
                    href="http://www.mccarthyshow.com/">Jim McCarthy and Michele McCarthy</a>.</p>
        </aside>

        <section id="copyright">
            <hr size="1" />
            <p>The Core Protocols V. 3.03</p>
            <p>Copyright (C) Jim McCarthy and Michele McCarthy</p>
            <p>(The Core is distributed under the terms of the GNU General Public License as published by the Free Software Foundation, either
                version 3 of the License, or (at your option) any later version. For exact terms see http://www.gnu.org/licenses/. The Core is
                considered as source code under that agreement. You are free to use and distribute this work or any derivations you care to make,
                provided you also distribute this source document in its entirety, including this paragraph.)
            </p>
        </section>
    </div>
</div>
</body>
</html>