{% include parts/header.html %}
        <section id="main-content">
            {{ content }}
        </section>

        <aside id="sidebar">
            <ul>
                <li><a href="{{ site.baseurl }}lt/branduolio-isipareigojimai">Branduolio įsipareigojimai</a></li>
                <li><a href="{{ site.baseurl }}lt/pasavimas">Pasavimas</a></li>
                <li><a href="{{ site.baseurl }}lt/prisijungimas">Prisijungimas</a></li>
                <li><a href="{{ site.baseurl }}lt/atsijungimas">Atsijungimas</a></li>
                <li><a href="{{ site.baseurl }}lt/pagalbos-prasymas">Pagalbos prašymas</a></li>
                <li><a href="{{ site.baseurl }}lt/protokolo-patikrinimas">Protokolo patikrinimas</a></li>
                <li><a href="{{ site.baseurl }}lt/intencijos-patikrinimas">Intencijos patikrinimas</a></li>
                <li><a href="{{ site.baseurl }}lt/Sprendimas">Sprendimas</a></li>
                <li><a href="{{ site.baseurl }}lt/issprendimas">Išsprendimas</a></li>
                <li><a href="{{ site.baseurl }}lt/tobulinimo-zaidimas">Tobulinimo žaidimas</a></li>
                <li><a href="{{ site.baseurl }}lt/asmeninis-susitelkimas">Asmeninis susitelkimas</a></li>
                <li><a href="{{ site.baseurl }}lt/tyrinejimas">Tyrinėjimas</a></li>
            </ul>
            <p class="repo-owner"><a href="https://github.com/algimantas/core-protocols">Branduolio protokolus</a> sukūrė <a
                    href="http://www.mccarthyshow.com/">Jim McCarthy ir Michele McCarthy</a>.</p>
        </aside>

        <section id="copyright">
            <hr size="1" />
            <p>The Core Protocols V. 3.03</p>
            <p>Copyright (C) Jim McCarthy and Michele McCarthy</p>
            <p>(The Core is distributed under the terms of the GNU General Public License as published by the Free Software Foundation, either
                version 3 of the License, or (at your option) any later version. For exact terms see http://www.gnu.org/licenses/. The Core is
                considered as source code under that agreement. You are free to use and distribute this work or any derivations you care to make,
                provided you also distribute this source document in its entirety, including this paragraph.)
            </p>
        </section>
{% include parts/footer.html %}
